<h1>Editing Post</h1>

<%= render 'form', post: @post %>

    <!--빈껍데기 => create / 내용 있으면 => update 로 보내준다고 함...와우 -->

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>

<!--form_for 등.. 머든 열심히 써봐야됨.-->